h1, p, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}  

body {
    background-color: #C0C0C0 !important;
}
nav .container-fluid {
    padding: 8px 0;
    margin: 5px 0;
    
}
nav span {
    font-size: 32px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    padding-left: 40px;
    font-family: 'Times New Roman', Times, serif;
}
nav ul li {
    font-size: 20px;
    padding-right: 10px ;
}

.intro-txt h1 {
    max-width: 75%;
    left: 30px;
    margin: 3px 0;
    padding: 0 40px;
    font-weight: lighter;
    font-size: 50px;
}
.intro-txt {
    margin-bottom: 175px;
    margin-top: 105px;
}


.hr-1 .horizontal-line { 
    display: block;
    margin-top: 185px;
    margin-bottom: 0.5em;
    margin-left: 5px;
    margin-right: 5px;
    border-style: inset;
    border-width: 9.5px ;
    
  } 

div #case-studies{
    font-size: 52px;
    margin-top: 100px;
    font-weight: bold;
    text-decoration: underline;
}




.cases .caption {
    font-weight: bold;
    color:rgb(39, 39, 39);
    text-decoration: underline;

}

.cases .row {
    display: flex;
    align-items: center;
    text-align: center;
    padding:15px 0;
    margin: 50px 0;
}

.row img {
    display: inline-block;
    width: 75%;
    margin: 20px 0;
    max-width: 100%;
  }

.hr-2 .horizontal-line { 
    display: block;
    margin-top: 100px;
    margin-bottom: 0.5em;
    margin-left: 20px;
    margin-right: 20px;
    border-style: inset;
    border-width: 1px ;
    
  }


.about-me {
    max-width: 100%;
    width:1200px;
    margin: 30px 0;
    padding: 0 40px;
    box-sizing: border-box;
}
article h2 {
    font-weight: bold;
    text-decoration: underline ;
    font-size: 32px;
    margin-bottom: 18px;
    text-align: center;
}

article p{
    line-height: 2em;
}

.hr-3 .horizontal-line { 
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-style: inset;
    border-width: 1px ;
    
  }

footer{
    margin-left: 28px;
    margin-bottom: 50px;
    
}

footer h2 {
    font-weight: bold;
    text-decoration: underline ;
    font-size: 32px;
    margin-bottom: 18px;

}