h1, p, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}  

body {
    background-image: url("img/white-marble-background-rotated.png");
    background-position: center;
    background-size: cover;
    height: auto;
    background-attachment: fixed;
}
nav .container-fluid {
    padding: 8px 0;
    margin: 5px 0;
    
}
nav span h1 {
    font-size: 32px;
    font-weight: bold;
    text-shadow: 5px 2px 2px black;
    padding-left: 40px;
    font-family: 'Times New Roman', Times, serif;

}

nav ul li {
    font-size: 20px;
    padding-right: 10px ;
}

nav .nav-item {
    color: #545E75;
}

.intro-txt h1 {
    color:rgb(0, 0, 0);
    text-shadow: 3px 2px 5px black;
    max-width:75%;
    left: 30px;
    margin: 3px 0;
    padding: 0 40px;
    font-weight: lighter;
    font-size: 50px;
}


.intro-txt  {
    padding-bottom: 175px;
    padding-top: 105px;
}

.down-arrow {
    transform: scale(0.1);
}



.hr-1 .horizontal-line { 
    display: block;
    margin-top: auto;
    margin-bottom: 0.5em;
    margin-left: 5px;
    margin-right: 5px;
    border-style: inset;
    border-width: 9.5px ;
    border-color: #969494;
  } 

div #case-studies{
    font-size: 52px;
    margin-top: 100px;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 2px 2px 2px rgb(83, 83, 83);
}


.cases .caption {
    font-weight: bold;
    color:rgb(39, 39, 39);
    text-decoration: underline;
    /* text-decoration-color: #DE541E; */
}

.cases .row {
    display: flex;
    align-items: center;
    text-align: center;
    padding:15px 0;
    margin: 50px 0;
}


.row img {
    display: inline-block;
    width: 75%;
    margin: 20px 0;
    max-width: 100%;
    border: 0.01px solid#DE541E;
    
}

.hr-2 .horizontal-line { 
    display: block;
    margin-top: 100px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    border-style: inset;
    border-width: 1px ;
    
  }


.about-me {
    max-width: 100%;
    width:1200px;
    margin: 30px 0;
    padding: 0 40px;
    box-sizing: border-box;
}

.about-me .sect-1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
}

.about-me .sect-2 {
  text-align: center;
  margin-bottom: 15px;
}

.about-me .sect-3 {
  text-align: center;
  margin-bottom: 30px;
}

.about-me .sect-4 {
  text-align: center;
  margin-bottom: 35px;
    font-size: 22px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.about-me .col {
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  margin-left: 1px;
  margin-right: 1px;

}
.about-me .col p{
  margin-bottom: 25px;
  font-weight: bold;
  color: #393939;
  margin-left: 1px;
  margin-right: 1px;
  text-decoration: underline;
  font-size: larger;
  text-wrap: none;
}

.about-me .sect-5 {
  text-align: center;
  margin-bottom: 15px;
}

.about-me .sect-6 {
  text-align: center;

}

article h2 {
    font-weight: bold;
    text-decoration: underline ;
    font-size: 32px;
    margin-bottom: 18px;
    text-align: center;
    text-shadow: 1px 1px 1px black;

}

article p{
    line-height: 2em;
}

.hr-3 .horizontal-line { 
    display: block;
    margin-top: 75px;
    margin-bottom: 0px;

    border-style: inset;
    border-width: 1px ;
  }

footer{
    background-color: #393939;
    padding-bottom: 50px;
    padding-top: 50px;
    color: whitesmoke;
}

footer h2 {
    font-weight: bold;
    text-decoration: underline ;
    color: whitesmoke;
    text-decoration-color: #DE541E;
    font-size: 32px;
    margin-left: 25px;
    margin-bottom: 22px;
    
    text-shadow: 1px 1px 1px black;

}


footer a{
    font-weight: bold;
    color:whitesmoke;
    text-decoration: underline;

}

.email-info .icon{
display: inline-block;
  width: 20px;
  height: 18px;
  background-image: none;
  content: url('img/email.png');
  margin-right: 5px;
  margin-bottom: -3px;
  margin-left: 20px;
}
.linkedin-info .icon{
display: inline-block;
  width: 20px;
  height: 18px;
  background-image: none;
  content: url('img/linkedin.png');
  margin-right: 5px;
  margin-bottom: -3px;
  margin-left:20px;
  color: whitesmoke;
}


/* pseudo classes */


.row img:hover {
    position: relative;
    top: -5px;
}


/* reponsive styles */


@media screen and (max-width:500px) {
    .intro-txt h1 {
        font-size: 10px;
        color:rgb(0, 0, 0);
        text-shadow: 3px 2px 5px black;
        max-width:75%;
        left: 30px;
        margin: 3px 0;
        padding: 0px 40px;
        font-weight: lighter;
        font-size: 35px;
    }

    .about-me .col p{
        margin-bottom: 25px;
        font-weight: bold;
        color: #393939;
        margin-left: auto;
        margin-right: auto;
        text-decoration: underline;
        font-size: 12px;
        text-wrap: none;
    }


}

